/MySite/nbproject/private/
/PhpProject/nbproject/private/
/OrientedTechnology_and_JavaProgramming/Networking/nbproject/private/
/OrientedTechnology_and_JavaProgramming/Networking/build/
/OrientedTechnology_and_JavaProgramming/Applets/nbproject/private/
