<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="CSSLayout.css" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                Indira Gandhi National Open University
            </div>
            <div class="left">
                <menu>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="DisplayDate.jsp">Today's Date</a></li>
                    <li><a href="DisplayCounter.jsp">Your Visitor No.</a></li>
                    <li><a href="StudentInformationForm.jsp">Enter Student Information</a></li>
                    <li><a href="CourseStudentList.jsp">Student List for a Course</a></li>
                </menu>
            </div>
            <div class="content">
                <h3>Welcome to Lab Sessions</h3>
                Please watch change in contents of this division only
<!--                
                
                <%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@include file= "top.jsp"%>
Todays Date is :
<% //Scriptlet for initialising and printing date object%>
<% java.util.Date date = new java.util.Date();

    out.println(" ");

    out.println(date);
%>
<%@include file= "bottom.jsp"%>-->
                
                
            </div>
            <div class="right">
                Course<br>
                <details>
                    <summary>BCS:053 Block 1
                    </summary>
                    <p>Unit 1: Web 2.0 and HTML5<br>
                        Unit 2: Style Sheets<br>
                        Unit 3: XML<br>
                        Unit 4: JavaScript<br>
                        Unit 5: WAP & WML
                    </p>
                </details>
            </div>
        </div>
        <div class="footer">
            <footer>
                <hr>&copy; 2013 SOCIS, IGNOU.
            </footer>
        </div>
    </body>
</html>